[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "external/FastNoise2"]
	path = external/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
[submodule "raygui"]
	path = external/raygui
	url = https://github.com/raysan5/raygui.git
